<div class="container">
  <div class="row">
    <div class="col-12"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <form class="add-area-form" [formGroup]="createForm" (ngSubmit)="onCreate()" >
        <legend>Añadir nueva materia</legend>
        <div class="inline-form-item">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>
              Nombre de la materia
            </mat-label>
            <input type="text" autofocus="false" matInput formControlName="name">
          </mat-form-field>
          <button mat-fab color="primary" type="submit">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </form>
    </div>
  </div>
  <div class="row">
    <mat-list>
      <mat-list-item *ngFor="let area of areas$ | async" class="area-list-item">
        <div class="list-item">
          <div>
            <form [formGroup]="editForm" *ngIf="edit && editId === area.id; else editInactive">
              <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </form>
            <ng-template #editInactive>
            <span >{{area.name}}</span>

            </ng-template>
          </div>
          <div>
            <button mat-mini-fab color="primary" (click)="edit ? onSubmitEdit(area) : onEdit(area)">
              <ng-template #notEdit>
                <mat-icon>edit</mat-icon>
              </ng-template>
              <mat-icon *ngIf="edit && editId === area.id; else notEdit">save</mat-icon>
            </button>
            <button mat-mini-fab color="primary" *ngIf="editId !== area.id" (click)="onDelete(area.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="row"></div>
  <div class="row"></div>
</div>
