.add-area-form {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: column;

  .inline-form-item {
    display: flex;
    gap: 1em;
    width: 100%;
  }
}


.area-list-item {

  ::ng-deep {
    .mdc-list-item__content {
      height: 60px;
    }
  }

  .list-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    div {
      button {
        box-shadow: none !important;
      }
    }
  }
}

.container {
  padding: 1em;
  min-width: 60vh;
}
