<div class="groups__container">
  <div class="groups__top-bar">
    <div class="top-bar__left-action">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Buscar grupo</mat-label>
        <input type="text" matInput (keyup)="applyFilter($event)">
      </mat-form-field>
    </div>
    <div class="top-bar__right-action">
      <button mat-flat-button color="primary" (click)="onCreate()">Nuevo grupo</button>
    </div>
  </div>
  <div class="groups__content">
    <table mat-table [dataSource]="groups" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por nombre"><b>Nombre</b></th>
        <td mat-cell *matCellDef="let element"> {{element?.name }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por descripcion"><b>Descripcion</b></th>
        <td mat-cell *matCellDef="let element">
          {{ element?.description }}
        </td>
      </ng-container>
      <ng-container matColumnDef="cycle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por ciclo"><b>Ciclo</b></th>
        <td mat-cell *matCellDef="let element">
          {{ element.cycle?.name || 'Sin asignar' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por profesor"><b>Profesor asignado</b></th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let teacher of element.teacher; let i=index">
            {{teacher.name}}
            <ng-container *ngIf="!(i === element.teacher.length - 1)">
              ,
            </ng-container>
          </ng-container>
          <ng-container *ngIf="element.teacher.length === 0">
            Sin asignar
          </ng-container>
          <!-- {{ element.teacher?.user?.name || 'Sin asignar' }} -->
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onEdit(element)" matTooltip="Editar datos del grupo">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Asignar profesor" (click)="onAssignTeacher(element.id)">
            <mat-icon>
              person_add
            </mat-icon>
          </button>
          <button *ngIf="element.teacher.length > 0" mat-icon-button matTooltip="Desasignar profesor" (click)="onUnassignTeacher(element)">
            <mat-icon>
              person_remove
            </mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete(element.id)" matTooltip="Borrar grupo">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="groupColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: groupColumns;"></tr>
    </table>
  </div>
</div>
