<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span>HISPANO-AMERICANO</span>

        <div class="account-setting">
            <button mat-fab color="warn" [matMenuTriggerFor]="menu">
                <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="changePasswordDialog()">
                    <mat-icon>settings</mat-icon>
                    Cambiar contraseña
                </button>
                <button mat-menu-item (click)="loggout()">
                    <mat-icon>exit_to_app</mat-icon>
                    Cerrar Sesión
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
