<div class="p-4">
    <form [formGroup]="paymentForm" (ngSubmit)="saveSetting()">
        <div class="text-center">
            <h2>Administrador de elementos que pueden cobrarse al estudiante</h2>
        </div>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-md-4 pe-2 pt-2">
                    <mat-form-field hintLabel="Max 100 characters"  class='w-100'appearance="fill">
                        <mat-label>Detalle</mat-label>
                        <input formControlName="name" matInput #name maxlength="100" placeholder="Detalle/Descripcion del elemento a cobrarse" required>
                        <mat-hint align="end">{{name?.value?.length || 0}}/100</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4 pe-2 pt-2">
                    <mat-form-field hintLabel="Max 100 characters" class='w-100' appearance="fill">
                        <mat-label>Monto</mat-label>
                        <input formControlName="amount" matInput #amount placeholder="Valor estandar a cobrarse" required>
                    </mat-form-field>
                </div>
                <div class="col-md-2 text-center">
                    <label for="administrativo" class="w-100">Obligatorio</label>
                    <mat-slide-toggle color="primary" formControlName="mandatory"></mat-slide-toggle>
                </div>
                <div class="col-md-2" [ngClass]="{'pt-3': !paymentSelected}">
                    <div *ngIf="!paymentSelected">
                        <button mat-raised-button color="primary"  type="submit">
                            <mat-icon>add</mat-icon>
                            Guardar
                        </button>
                    </div>
                    <div *ngIf="paymentSelected">
                        <button class='w-100 mb-1 btn btn-success' type="button" (click)="update()">
                            <mat-icon>save</mat-icon>
                            Actualizar
                        </button>
                        <button class='w-100 btn btn-danger' type="button" (click)="resetForm()">
                            <mat-icon>cancel</mat-icon>
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mt-4 custom-overflow">
                
                <div class="col-md-12">
                    <ngx-datatable #table class="material" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                        rowHeight="auto" [limit]="100" [rows]="payments">
                        <ngx-datatable-column [width]="400" name="Nombre" prop="name" cellClass="vertical-center"></ngx-datatable-column>
                        <ngx-datatable-column [width]="100" name="Monto" prop="amount" cellClass="vertical-center"></ngx-datatable-column>
                        <ngx-datatable-column [width]="100" name="Obligatorio" prop="mandatory" cellClass="vertical-center">
                            <ng-template ngx-datatable-cell-template let-value="row">
                                <p>{{ value.mandatory === true ? 'SI' : 'NO'}}</p>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [width]="100" name="Acciones" prop="id">

                            <ng-template ngx-datatable-cell-template let-value="row">
                                <div class="row custom-css p-2">
                                    <div style="width:auto">
                                        <button mat-mini-fab color="warning" type='button' (click)="edit(value)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-template>

                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </form>

</div>