
:host ::ng-deep .custom-css{
    .mat-mdc-mini-fab {
        height: 30px!important;
        width: 30px!important;
        mat-icon {
          font-size: 22px;
        }
    }
}

:host ::ng-deep {
    .ngx-datatable .datatable-body .datatable-body-row>div {
      align-items: center;
    }
  }
.status-warning {
  text-align: center;
  margin-right: 10px;
  background-color: #ffd25f;
}
.status-done {
  text-align: center;
  margin-right: 10px;
  background-color: rgb(129, 235, 129);
}