<div class="row">
    <div class="col-md-12">
        <h2 class="subtitule">MIS TAREAS</h2>
    </div>
</div>



<div class="row">
    <div class="row">
        <div class="col-md-5">
            <mat-form-field appearance="fill" class="w-100">
                <input matInput #buscador placeholder="Buscador" (keyup)="updateFilter($event)">
            </mat-form-field>
        </div>
    </div>
    <div class="col-md-12">
        <ngx-datatable #table class="material align-center" [columnMode]="ColumnMode.force" [headerHeight]="30" [footerHeight]="50"
            [rowHeight]="50" [limit]="10" [rows]="assignmentList">
            <ngx-datatable-column name="F.Inicio" prop="startDate"></ngx-datatable-column>
            <ngx-datatable-column name="F.Entrega" prop="limitTime"></ngx-datatable-column>
            <ngx-datatable-column name="Entregado" prop="sent">
                <ng-template ngx-datatable-cell-template let-value="row">
                    <div [ngClass]="value.scoreId ? 'status-done' : 'status-warning'">
                        {{value.scoreId ? 'ENTREGADO' : 'PENDIENTE'}}
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tarea" prop="name"></ngx-datatable-column>
            <ngx-datatable-column name="Puntos" prop="points"></ngx-datatable-column>
            <ngx-datatable-column name="URL" prop="url"></ngx-datatable-column>

            <ngx-datatable-column name="Nota Final" prop="result">
                <ng-template ngx-datatable-cell-template let-value="row">
                    <div class="text-center">
                        {{value.result ?? '-' }}
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Acciones" prop="id">

                <ng-template ngx-datatable-cell-template let-value="row">
                    <div class="col-row">
                        <div class="col-md-12">
                            <button mat-raised-button color="primary"  (click)="send(value);">
                                <mat-icon>upload_file</mat-icon>
                                Ver tarea
                            </button>
                        </div>
                    </div>
                </ng-template>

            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
