<div class="p-4">
    <h1 mat-dialog-title>Tareas entregadas: {{data.name}}</h1>

    <div mat-dialog-actions>
        <button mat-raised-button type="button" (click)="closeModal()">
            <mat-icon>close</mat-icon>
            Cancelar
        </button>
    </div>
    <mat-stepper orientation="vertical" [linear]="false" #stepper>
        <mat-step *ngFor="let assignment of assignmentList">
            <div class="first-step">

                <ng-template matStepLabel>
                    <div class="row justify-content-between">
                        <div class="col-md-8">
                            {{assignment.studentName}}
                        </div>
                        <div class="col-md-4 text-end">
                            <span *ngIf="assignment?.answer || assignment?.documents"
                                [ngClass]="mathPoints(assignment) ? 'assignment-success' : 'assignment-fail'">
                                {{(assignment.points ?? 'NO REVISADA') + ' / ' + assignment.maxPoints}}
                            </span>
                            <span *ngIf="!assignment?.answer && !assignment?.documents" class="assignment-fail">NO ENTREGADA</span>
                        </div>
                    </div>
                </ng-template>
                <div class="row subheader-step">
                    <div class="col-md-12">
                        <h3 class="m-0" *ngIf="assignment?.answer || assignment?.documents">Entrega del alumno</h3>
                        <h3 class="m-0" *ngIf="!assignment?.answer && !assignment?.documents">El alumno no ha enviado su tarea!</h3>
                    </div>
                </div>
                <div class="row body-step">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div [innerHTML]="assignment.answer"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex flex-column" *ngIf="assignment.documents && assignment.documents.length > 0">
                            <div class="uploaded-document d-flex align-items-center mb-1" *ngFor="let doc of assignment.documents" (click)="downloadFile(doc)">
                                <mat-icon>attach_file</mat-icon>
                                <span>{{doc.name}}</span>
                            </div>
                        </div>
                    </div>
                    <mat-divider class="mb-3"></mat-divider>


                    <div *ngIf="assignment?.answer || assignment?.documents">
                        <button mat-raised-button color="primary" (click)="setPointsModal(assignment)">DEFINIR NOTA</button>
                    </div>
                </div>
            </div>
        </mat-step>
    </mat-stepper>
</div>