<div class="p-4">

    <div mat-dialog-actions>
        <button mat-raised-button type="button" (click)="closeModal()">
            <mat-icon>close</mat-icon>
            Cancelar
        </button>
    </div>
    <mat-stepper orientation="vertical" [linear]="false" #stepper>
        <mat-step>
            <div class="first-step">

                <ng-template matStepLabel>
                    TAREA: {{data.assignment.name}}
                </ng-template>
                <div class="row subheader-step">
                    <div class="col-md-12">
                        <h3 class="m-0">Descripción de la tarea</h3>
                    </div>
                </div>
                <div class="row body-step">
                    <div class="row">
                        <div class="col-md-12 my-3" [innerHTML]="data.assignment.description">
                        </div>
                    </div>
                    <mat-divider class="mb-3"></mat-divider>

                    <div class="row" *ngIf="data.assignment.url">
                        <div class="col-md-12">
                            Ten encuenta este enlace, para apoyarte al realizar tu tarea
                        </div>
                        <div class="col-md-12">
                            <a href="{{data.assignment.url}}">{{data.assignment.url}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Esta tarea fue liberada en esta fecha: <b>{{data.assignment.startDate}}</b><br>
                                La fecha limite para entregar esta tarea es: <b>{{data.assignment.limitTime}}</b><br>
                                Esta tarea tiene un puntaje de: <b>{{data.assignment.points}}</b><br>
                            </p>
                        </div>
                    </div>

                    <div>
                        <button mat-raised-button color="primary" matStepperNext>Agrega tu respuesta</button>
                    </div>
                </div>
            </div>
        </mat-step>



        <mat-step [stepControl]="resultForm">
            <ng-template matStepLabel>Tu respuesta</ng-template>
            <form [formGroup]="resultForm" (ngSubmit)="submitForm()">
                
                <div class="row mt-3">
                    <div class="col-12">
                    <mat-label>Plantea tu respuesta aquí</mat-label>
                    <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
                    <ngx-editor formControlName="answer" [editor]="editor"></ngx-editor>
                    </div>
                </div>

                <div class="row mb-2">
                  <div class="col-12">
                    <mat-label>Sube tus archivos aquí</mat-label>
                    <file-upload #fileUpload formControlName="documents">
                    </file-upload>
                  </div>
                </div>
                <div class="col-12 d-flex flex-column mb-3" *ngIf="documents!.length > 0">
                  <div class="d-flex align-items-center" *ngFor="let doc of documents">
                    <mat-icon>attach_file</mat-icon>
                    <span>{{doc.document?.name}}</span>
                  </div>
                </div>

                <div>
                    <button mat-raised-button color="secondary" matStepperPrevious class="me-2">Regresar</button>
                    <button mat-raised-button color="primary" type="submit">
                        <mat-icon>save</mat-icon>
                        ENVIAR
                    </button>
                </div>
        
            </form>
        </mat-step>
    </mat-stepper>
</div>