.first-step {
    padding: 20px;
}
.subheader-step {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #e0e0e0;
    border-radius: 10px 10px 0px 0px;
}
.body-step {
    background: #f4f4f4;
    padding-bottom: 15px;
    border-radius: 0px 0px 10px 10px;
}