<mat-nav-list>
  <!-- Administrativo -->
  <div *ngIf="currentUser?.type_id === 3 || currentUser?.type_id === 5">
    <div matSubheader>Administración</div>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/users">
      <mat-icon>account_circle</mat-icon>
      Gestion de usuarios
    </a>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/cycles">
      <mat-icon>calendar_today</mat-icon>
      Gestion de ciclos
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/groups">
      <mat-icon>groups</mat-icon>
      Gestion de grupos
    </a>
  </div>

  <!-- Docentes -->
  <div *ngIf="currentUser?.type_id === 2 || currentUser?.type_id === 5">
    <div matSubheader>Contenido y asignaciones</div>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contents">
      <mat-icon>folder</mat-icon>
      Gestionar contenido de clases
    </a>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/assignments">
      <mat-icon>assignment</mat-icon>
      Gestion de tareas
    </a>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/teacher-assignments">
      <mat-icon>edit_document</mat-icon>
      Revisar Tareas
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/assistances">
      <mat-icon>edit_document</mat-icon>
      Registrar Asistencias
    </a>
  </div>

  <!-- Administrativo -->
  <div *ngIf="currentUser?.type_id === 3 || currentUser?.type_id === 5">
    <mat-divider></mat-divider>
    <div matSubheader>Tesorería</div>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/payments">
      <mat-icon>payment</mat-icon>
      Pagos de alumnos
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/accounting/accounts">
      <mat-icon>money</mat-icon>
      Cuentas contables
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/accounting">
      <mat-icon>money</mat-icon>
      Movimientos
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/report">
      <mat-icon>report</mat-icon>
      Reporteria
    </a>
  </div>
  <!-- Estudiante -->
  <div *ngIf="currentUser?.type_id === 1 || currentUser?.type_id === 5">
    <mat-divider></mat-divider>
    <div matSubheader>Mis Assignaciones</div>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/class-content">
      <mat-icon>folder</mat-icon>
      Contenido de clases
    </a>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/my-assignments">
      <mat-icon>edit_document</mat-icon>
      Mis Tareas
    </a>
    <a mat-list-item routerlinkActive="list-item-active" routerLink="/my-payments">
      <mat-icon>payment</mat-icon>
      Mis pagos
    </a>
  </div>




</mat-nav-list>