<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <form >
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Buscar asistencia</mat-label>
                    <input type="text" matInput (keyup)="applyFilter($event)">
                </mat-form-field>
            </form>
        </div>
        <div class="col-6">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <form [formGroup]="assistanceForm" (ngSubmit)="onCreate()" class="d-flex flex-column" style="gap: 1em">
                <span *ngIf="!editing" class="form-title">Crear asistencia</span>
                <span *ngIf="editing" class="form-title">Editar asistencia</span>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Seleccione una fecha</mat-label>
                    <input formControlName="date" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let status of statusValues" [value]="status.value">{{status.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Ciclo</mat-label>
                    <mat-select formControlName="cycle_id">
                        <mat-option *ngFor="let cycle of (cycles$ | async)" [value]="cycle.id"> {{cycle.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Grupo</mat-label>
                    <mat-select formControlName="group_id">
                        <mat-option *ngFor="let group of groups$" [value]="group">{{group.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Profesor</mat-label>
                    <mat-select formControlName="teacher_id">
                        <mat-option *ngFor="let teacher of teachers" [value]="teacher.user_id"> {{teacher.name}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Alumno</mat-label>
                    <mat-select formControlName="student_id">
                        <mat-option *ngFor="let student of students" [value]="student.user_id"> {{student.name}} </mat-option>
                    </mat-select>
                </mat-form-field>
                
               
                <button *ngIf="!editing" mat-flat-button color="primary" type="submit">Ingresar asistencia</button>
                <button *ngIf="editing" mat-flat-button color="primary" type="submit">Modificar asistencia</button>
            </form>
        </div>
        <div class="col-8">
            <table mat-table [dataSource]="assistances" matSort>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por fecha"><b>Fecha</b></th>
                    <td mat-cell *matCellDef="let element">
                        {{element.date}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="student">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por alumno"><b>Alumno</b></th>
                    <td mat-cell *matCellDef="let element">
                        {{element.student.name}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por estado"><b>Estado</b></th>
                    <td mat-cell *matCellDef="let element">{{element.status}}</td>
                </ng-container>
                <ng-container matColumnDef="teacher">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por maestro"><b>Registrado por</b></th>
                    <td mat-cell *matCellDef="let element">{{element.teacher.name}}</td>
                </ng-container>
                <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por grupo"><b>Grupo</b></th>
                    <td mat-cell *matCellDef="let element">{{element.group.name}}</td>
                </ng-container>

                <ng-container matColumnDef="cycle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por ciclo"><b>Ciclo</b></th>
                    <td mat-cell *matCellDef="let element">{{element.cycle.name}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="triggerEdit(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="onDelete(element.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
            </table>
        </div>
    </div>
</div>