<div class="row" *ngIf="student">
  <div class="row">
    <div class="col-md-12">
      <h2 class="subtitule">Usuario - Estudiantes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button mat-mini-fab color="primary" (click)="subMenu=true; showSubModul(0)">
        <mat-icon>undo</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    
    <div class="row d-flex align-items-center">
      <div class="col-md-5">
        <mat-form-field appearance="fill">
          <input matInput #buscador placeholder="Buscador" (keyup)="updateFilter($event)">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button mat-mini-fab color="success" (click)="openDialog(1);">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <ngx-datatable
        #table
        class="material"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [limit]="10"
        [rows]="students"
        [sorts]="[{ prop: 'user', dir: 'asc' }]"
      >
        <ngx-datatable-column name="Código" prop="user" cellClass="vertical-center"></ngx-datatable-column>
        <ngx-datatable-column name="Nombre" prop="name" cellClass="vertical-center"></ngx-datatable-column>
        <ngx-datatable-column name="Fecha" prop="created_at" cellClass="vertical-center"></ngx-datatable-column>
        <ngx-datatable-column name="Acciones" prop="id" >
          
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
          >
            <div class="row custom-css p-2">
              <div style="width:auto">
                <button mat-mini-fab color="secondary" (click)="openDialog(4, value)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </div>
              <div style="width:auto">
                <button mat-mini-fab color="warning" (click)="openDialog(2, value)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
              <div style="width:auto">
                <button mat-mini-fab color="danger" class="ml-4" (click)="openDialog(3, value)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </ng-template>
          
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<div class="row" *ngIf="teacher">
  
  <div class="row">
    <div class="col-md-12">
      <h2 class="subtitule">Usuario - Profesores</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button mat-mini-fab color="primary" (click)="subMenu=true; showSubModul(0)">
        <mat-icon>undo</mat-icon>
      </button>
    </div>
  </div>
  
  <div class="row">
    
    <div class="row d-flex align-items-center">
      <div class="col-md-5">
        <mat-form-field appearance="fill">
          <input matInput #buscador placeholder="Buscador" (keyup)="updateFilterTeachers($event)">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button mat-mini-fab color="success" (click)="openDialog(1);">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <ngx-datatable
        #tableTeachers
        class="material"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [limit]="10"
        [rows]="teachers"
        [sorts]="[{ prop: 'code', dir: 'asc' }]"
      >
        <ngx-datatable-column name="Código" prop="user"></ngx-datatable-column>
        <ngx-datatable-column name="Nombre" prop="name"></ngx-datatable-column>
        <ngx-datatable-column name="Fecha" prop="created_at"></ngx-datatable-column>
        <ngx-datatable-column name="Acciones" prop="id" >
          
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
          >
            <div class="row custom-css p-2">
              <div style="width:auto">
                <button mat-mini-fab color="secondary" (click)="openDialog(4, value)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </div>
              <div style="width:auto">
                <button mat-mini-fab color="warning" (click)="openDialog(2, value)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
              <div style="width:auto">
                <button mat-mini-fab color="danger" class="ml-4" (click)="openDialog(3, value)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </ng-template>
          
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>



<div class="row" *ngIf="administrative">
  <div class="row">
    <div class="col-md-12">
      <h2 class="subtitule">Usuario - Trabajador</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button mat-mini-fab color="primary" (click)="subMenu=true; showSubModul(0)">
        <mat-icon>undo</mat-icon>
      </button>
    </div>
  </div>
  
  <div class="row">
    
    <div class="row d-flex align-items-center">
      <div class="col-md-5">
        <mat-form-field appearance="fill">
          <input matInput #buscador placeholder="Buscador" (keyup)="updateFilterAdmin($event)">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button mat-mini-fab color="success" (click)="openDialog(1);">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <ngx-datatable
        #tableAdmin
        class="material"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [limit]="10"
        [rows]="administratives"
        [sorts]="[{ prop: 'code', dir: 'asc' }]"
      >
        <ngx-datatable-column name="Código" prop="user"></ngx-datatable-column>
        <ngx-datatable-column name="Nombre" prop="name"></ngx-datatable-column>
        <ngx-datatable-column name="Fecha" prop="created_at"></ngx-datatable-column>
        <ngx-datatable-column name="Acciones" prop="id" >
          
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
          >
            <div class="row custom-css p-2">
              <div style="width:auto">
                <button mat-mini-fab color="secondary" (click)="openDialog(4, value)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </div>
              <div style="width:auto">
                <button mat-mini-fab color="warning" (click)="openDialog(2, value)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
              <div style="width:auto">
                <button mat-mini-fab color="danger" class="ml-4" (click)="openDialog(3, value)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </ng-template>
          
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<div *ngIf="subMenu">
  <div class="row">
    <div class="col-md-12">
      <h2 class="subtitule">Selecciona el tipo de usuario</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    
    <div class="col-7 col-sm-4 col-md-3 mt-2">
      <button mat-mini-fab class="btn-options btn-student" (mouseenter)="this.isOpen1 = true" (mouseleave)="this.isOpen1 = false" >
  
        <div  [@openClose]="isOpen1 ? 'open' : 'closed'" (click)="showSubModul(1)"
        id="hover-student" class="hover-img d-flex justify-content-center align-items-center">
          <div class="row text-light">
            <label class="hover-text">Agregar</label>
            <label class="hover-text mt-2">Estudiante</label>
          </div>
        </div>
     
        <img class="img-fluid " src="assets/img/student.png" alt="agregar estudiante">
     
      </button>
    </div>
    
    <div class="col-7 col-sm-4 col-md-3 mt-2">
      <button mat-mini-fab class="btn-options btn-teacher" (mouseenter)="isOpen2 = true" (mouseleave)="isOpen2 = false" >
  
        <div  [@openClose]="isOpen2 ? 'open' : 'closed'" (click)="showSubModul(2)"
        id="hover-student" class="hover-img d-flex justify-content-center align-items-center">
          <div class="row text-light">
            <label class="hover-text">Agregar</label>
            <label class="hover-text mt-2">Profesor</label>
          </div>
        </div>
     
        <img class="img-fluid " src="assets/img/teacher.png" alt="agregar estudiante">
      </button>
    </div>
  
    <div class="col-7 col-sm-4 col-md-3 mt-2">
      <button mat-mini-fab class="btn-options btn-administrative" (mouseenter)="isOpen3 = true" (mouseleave)="isOpen3 = false" >
  
        <div  [@openClose]="isOpen3 ? 'open' : 'closed'" (click)="showSubModul(3)"
        id="hover-student" class="hover-img d-flex justify-content-center align-items-center">
          <div class="row text-light">
            <label class="hover-text">Agregar</label>
            <label class="hover-text mt-2">Trabajador</label>
          </div>
        </div>
     
        <img class="img-fluid " src="assets/img/administrative.png" alt="agregar estudiante">
      </button>
    </div>
  
  </div>
</div>