<div class="auth-login__container">
  <div class="container__left">
    <div class="container__title">
      <span>Colegio Hispanoamericano</span>
    </div>
    <form [formGroup]="form" (ngSubmit)="login()">
      <fieldset class="left__fieldset">
        <legend>Inicia sesión</legend>
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input formControlName="user" type="text" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input formControlName="password" type="password" matInput>
        </mat-form-field>
      </fieldset>
      <button mat-flat-button type="submit" color="primary" size="large" class="w-100">Ingresar</button>
    </form>
  </div>
  <div class="container__right"></div>
</div>
