.auth-login__container {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  max-height: 100vh;

  .container__left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5em;

    form {
      width: 40%;
    }

    .container__title {
      span {
        font-size: 24px;
        font-weight: 700;
      }
    }

    .left__fieldset {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .container__right {
    display: flex;
    flex: 1;
    background: url("../../../../assets/img/login-bg.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }
}
