.contents__container {
  display: flex;
  flex-direction: column;
  flex: 1;

  .contents__top-bar {
    display: flex;
    width: 100%;
    gap: 1em;


    .top-bar__left-action {
      display: flex;
      flex: .5;
    }

    .top-bar__right-action {
      display: flex;
      flex: .5;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 1em;
      gap: 1em;

      button {
        height: 100%;
      }
    }
  }
}
