<div class="contents__container">
  <div class="contents__top-bar">
    <div class="top-bar__left-action">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Buscar movimientos</mat-label>
        <input type="text" matInput (keyup)="applyFilter($event)">
      </mat-form-field>
    </div>
    <div class="top-bar__right-action">
    </div>
  </div>
  <div class="contents__content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <h2 *ngIf="!editing">Crear movimiento</h2>
          <h2 *ngIf="editing">Editar movimiento</h2>
          <form [formGroup]="movementForm" (ngSubmit)="editing ? onEdit() : onCreate()">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Seleccione una fecha</mat-label>
              <input formControlName="date" matInput [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Concepto</mat-label>
              <input formControlName="description" type="text" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 30%; margin-right: 2%">
              <mat-label>Moneda</mat-label>
              <input formControlName="currency" type="text" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 68%">
              <mat-label>Monto</mat-label>
              <input matInput formControlName="amount" type="number">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Encargado</mat-label>
              <mat-select formControlName="created_by">
                <mat-option *ngFor="let user of (users$ | async)" [value]="user.id">{{user.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Cuenta a debitar</mat-label>
              <mat-select formControlName="origin_account">
                <mat-option *ngFor="let account of (accounts$ | async)" [value]="account.id">{{account.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Cuenta a acreditar</mat-label>
              <mat-select formControlName="destination_account">
                <mat-option *ngFor="let account of (accounts$ | async)" [value]="account.id">{{account.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Notas</mat-label>
              <textarea matInput formControlName="notes"></textarea>
            </mat-form-field>
            <button *ngIf="!editing" mat-flat-button class="w-100" color="primary">Crear movimiento</button>
            <button *ngIf="editing" mat-flat-button class="w-100" color="primary">Actualizar movimiento</button>
          </form>
        </div>
        <div class="col-8">
          <table mat-table [dataSource]="movements">
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Fecha</th>
              <td mat-cell *matCellDef="let element"> {{element?.date }}</td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Concepto</th>
              <td mat-cell *matCellDef="let element"> {{element?.description }}</td>
            </ng-container>
            <ng-container matColumnDef="origin_account">
              <th mat-header-cell *matHeaderCellDef>Cuenta debito</th>
              <td mat-cell *matCellDef="let element"> {{element?.debit_account.name }}</td>
            </ng-container>
            <ng-container matColumnDef="destination_account">
              <th mat-header-cell *matHeaderCellDef>Cuenta Credito</th>
              <td mat-cell *matCellDef="let element"> {{element?.credit_account.name }}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Monto</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.amount }}
              </td>
            </ng-container>
            <ng-container matColumnDef="notes">
              <th mat-header-cell *matHeaderCellDef>Notas</th>
              <td mat-cell *matCellDef="let element">{{element?.notes || '-'}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="triggerEdit(element)" matTooltip="Editar datos del grupo">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="onDelete(element.id)" matTooltip="Borrar grupo">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
