.main-area {
    width: fit-content;
    height: 100px;
    background: #683db5;
    border-radius: 10px;
    margin-left: 15px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    label {
        color: white;
        font-weight: bold;
        font-size: 25px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
:host ::ng-deep {
  .ngx-datatable .datatable-body .datatable-body-row>div {
    align-items: center;
    border-bottom: 1px solid #bbbbbb;
  }
}