<div class="row">
    <div class="col-md-12">
        <h2 class="subtitule">Tareas</h2>
    </div>
</div>

<form [formGroup]="filterForm">
    <div class="row">
        <div class="col-md-3">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Ciclo</mat-label>
                <mat-select formControlName="cycle" placeholder="Seleccion el ciclo">
                <mat-form-field class="w-100" appearance="fill">
                    <input matInput placeholder="Buscador" (keyup)="filterCycles($event)">
                </mat-form-field>
                  <mat-option *ngFor="let cycle of cycleList" [value]="cycle.id">
                    {{cycle.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="w-100" appearance="fill">
                <mat-select formControlName="group" placeholder="Seleccion un grupo">
                <mat-form-field class="w-100" appearance="fill">
                    <input matInput placeholder="Buscador" (keyup)="filterGroups($event)">
                </mat-form-field>
                  <mat-option *ngFor="let group of groupsByCycle" [value]="group.id">
                    {{group.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>


<div class="row">
    <div class="row">
        <div class="col-md-5">
            <mat-form-field appearance="fill" class="w-100">
                <input matInput #buscador placeholder="Buscador" (keyup)="updateFilter($event)">
            </mat-form-field>
        </div>
        <div class="col-md-2 pt-2">
            <button mat-raised-button color="primary"  (click)="addAssignment();">
                <mat-icon>add</mat-icon>
                Agregar Tareas
            </button>
        </div>
    </div>
    <div class="col-md-12">
        <ngx-datatable #table class="material align-center" [columnMode]="ColumnMode.force" [headerHeight]="30" [footerHeight]="50"
            rowHeight="auto" [limit]="10" [rows]="assignmentList">
            <ngx-datatable-column name="Ciclo" prop="cycleName"></ngx-datatable-column>
            <ngx-datatable-column name="Group" prop="groupName"></ngx-datatable-column>
            <ngx-datatable-column name="Materia" prop="areaName"></ngx-datatable-column>
            <ngx-datatable-column name="Tarea" prop="name"></ngx-datatable-column>
            <ngx-datatable-column name="Puntos" prop="points"></ngx-datatable-column>
            <ngx-datatable-column name="URL" prop="url"></ngx-datatable-column>
            <ngx-datatable-column name="F.Inicio" prop="startDate"></ngx-datatable-column>
            <ngx-datatable-column name="F.Entrega" prop="limitTime"></ngx-datatable-column>
            <ngx-datatable-column name="Acciones" prop="id">

                <ng-template ngx-datatable-cell-template let-value="row">
                    <div class="row custom-css p-2">
                        <div style="width:auto">
                            <button mat-mini-fab color="warning" (click)="edit(value)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <div style="width:auto">
                            <button mat-mini-fab color="danger" class="ml-4" (click)="delete(value)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>

            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
