<div class="contents__container">
  <div class="contents__top-bar">
    <div class="top-bar__left-action">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Buscar cuenta contable</mat-label>
        <input type="text" matInput (keyup)="applyFilter($event)">
      </mat-form-field>
    </div>
    <div class="top-bar__right-action">
      <button mat-fab [matMenuTriggerFor]="menu" style="border-radius: 5px" color="primary">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openCreateAccountTypeDialog()">
          <span>Crear tipo de cuenta</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="contents__content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <h2 *ngIf="!editing">Crear cuenta contable</h2>
          <h2 *ngIf="editing">Editar cuenta contable</h2>
          <form [formGroup]="accountForm" (ngSubmit)="editing ? onEdit() : onCreate()">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Codigo de cuenta</mat-label>
              <input formControlName="code" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nombre de cuenta</mat-label>
              <input formControlName="name" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Tipo de cuenta</mat-label>
              <mat-select formControlName="type_id">
                <mat-option *ngFor="let type of (accountTypes$ | async)" [value]="type.id">
                  {{type.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button *ngIf="!editing" mat-flat-button color="primary" class="w-100">Crear cuenta contable</button>
            <button *ngIf="editing" mat-flat-button color="primary" class="w-100">Actualizar cuenta contable</button>
          </form>
        </div>
        <div class="col-8">
          <table mat-table [dataSource]="accounts">
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>Codigo</th>
              <td mat-cell *matCellDef="let element"> {{element?.code }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element?.name }}</td>
            </ng-container>
            <ng-container matColumnDef="type_id">
              <th mat-header-cell *matHeaderCellDef>Tipo de cuenta</th>
              <td mat-cell *matCellDef="let element"> {{element?.account_type }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="triggerEdit(element)" matTooltip="Editar datos del grupo">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="onDelete(element.id)" matTooltip="Borrar grupo">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

