.edit-form__container {
  display: flex;
  min-width: 20vw;
  max-width: 100vw;

  .edit-form__form {
    width: 100%;
    padding: 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;

    .edit-form__header {

      .edit-form__header-title {
        font-size: 18px;
        font-weight: 700;

      }
    }

    .edit-form__content {
      display: flex;
      flex-direction: column;
      gap: .5em;
    }

    .edit-form__footer {
      button {
        min-height: 50px;
        width: 100%;
      }
    }
  }
}
