<div class="edit-form__container">
  <form class="edit-form__form" [formGroup]="editForm" (ngSubmit)="edit()">
    <div class="edit-form__header">
      <span class="edit-form__header-title">Editar {{data.name}}</span>
    </div>
    <div class="edit-form__content">
      <mat-form-field appearance="outline">
        <mat-label>Nombre del ciclo</mat-label>
        <input formControlName="name" type="text" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripción del ciclo</mat-label>
        <input formControlName="description" type="text" matInput>
      </mat-form-field>
    </div>
    <div class="edit-form__footer">
      <button mat-flat-button color="primary">Actualizar ciclo</button>
    </div>
  </form>
</div>
