<div  class="text-center">
    <h1 mat-dialog-title>Eliminar Pago</h1>
    <div mat-dialog-content>
        ¿Esta seguro que desea eliminar este pago?
    </div>
    <div mat-dialog-actions class="d-flex justify-content-center">
        <button mat-button color="danger" (click)="delete()">Eliminar</button>
        <button mat-button mat-dialog-close color="secondary">Cerrar</button>
    </div>
</div>

