<div class="p-4">
    <form [formGroup]="resultForm" (ngSubmit)="setPoints()">
        <div class="text-center">
            <h2>DEFINIR NOTA</h2>
        </div>
        <div mat-dialog-content>
            <div class="row mb-2">
                <div class="col-md-12">
                    <label for="">TAREA: <b>{{data.assigmentName}}</b></label>
                </div>
                <div class="col-md-12">
                    <label for="">ESTUDIANTE: <b>{{data.studentName}}</b></label>
                </div>
                <div class="col-md-12">
                    <label for="">PUNTAJE MAXIMO: <b>{{data.maxPoints}}</b></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class='w-100'appearance="fill">
                        <mat-label>Nota final</mat-label>
                        <input formControlName="points" type="number" matInput placeholder="Nota final para esta asignación"> 
                        <mat-error class="mb-1" *ngIf="resultForm.get('points')?.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                        <mat-error class="mb-1" *ngIf="resultForm.get('points')?.hasError('max')">
                            La cantidad maxima de puntos es {{data.maxPoints}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Comentarios</mat-label>
                        <textarea [rows]="5" matInput formControlName="comments"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        
        <div mat-dialog-actions>
            <button mat-raised-button color="primary"  type="submit">
                <mat-icon>save</mat-icon>
                Guardar
            </button>
            <button mat-raised-button type="button" (click)="closeModal()">
                Cerrar
            </button>
        </div>
    </form>

</div>