<div class="create-form__container">
  <form class="create-form__form" [formGroup]="assignForm" (ngSubmit)="assign()">
    <div class="create-form__header">
      <span class="create-form__header-title">Asignar maestro</span>
    </div>
    <div class="create-form__content">
      <mat-form-field appearance="outline">
        <mat-label>Selecciona un maestro</mat-label>
        <mat-select formControlName="teacher_id">
          <mat-option *ngFor="let teacher of teachers" [value]="teacher.user_id">
            {{ teacher.user.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="create-form__footer">
      <button mat-flat-button color="primary">Asignar a grupo</button>
    </div>
  </form>
</div>
