<div class="contents__container">
  <div class="contents__top-bar">
    <div class="top-bar__left-action">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Buscar contenido</mat-label>
        <input type="text" matInput (keyup)="applyFilter($event)">
      </mat-form-field>
    </div>
    <div class="top-bar__right-action">
      <button mat-flat-button color="primary" (click)="openManageAreas()">
        <mat-icon>settings</mat-icon>
        Gestionar materias
      </button>
      <button mat-flat-button color="primary" (click)="onCreate()">Nuevo contenido</button>
    </div>
  </div>
  <div class="contents__content">
    <table mat-table [dataSource]="contents" matSort>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por titulo"><b>Titulo</b></th>
        <td mat-cell *matCellDef="let element"> {{element?.title }}</td>
      </ng-container>
      <ng-container matColumnDef="subtitle" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por subtitulo"><b>Subtitulo</b></th>
        <td mat-cell *matCellDef="let element"> {{element?.subtitle }}</td>
      </ng-container>
      <ng-container matColumnDef="area" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por materia"><b>Materia</b></th>
        <td mat-cell *matCellDef="let element"> {{element?.area?.name || '-' }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por descripcion"><b>Descripcion</b></th>
        <td mat-cell *matCellDef="let element">
          {{ getDescription(element?.description) | stripHtml }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="element.documents.length > 0" mat-icon-button (click)="onViewDocuments(element)" matTooltip="Ver documentos de este contenido">
            <mat-icon>attachment</mat-icon>
          </button>
          <button mat-icon-button (click)="onEdit(element)" matTooltip="Editar datos del grupo">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete(element.id)" matTooltip="Borrar grupo">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="contentColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: contentColumns;"></tr>
    </table>
  </div>
</div>
