<form class="container p-3" [formGroup]="createForm" (ngSubmit)="onCreate()">
  <div class="row">
    <div class="col-12">
      <span class="content-header__title">Crear nuevo contenido</span>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Seleccionar ciclo</mat-label>
        <mat-select formControlName="cycle_id">
          <mat-option *ngFor="let cycle of cycles$ | async" [value]="cycle.id">
            {{cycle.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline" class="w-100" >
        <mat-label>Seleccionar grupo</mat-label>
        <mat-select formControlName="group_id" [disabled]="(groups$ | async)?.length === 0 || !(groups$ | async)">
          <mat-option *ngFor="let group of groups$ | async" [value]="group.id">
          {{group.name}} - {{group.cycle?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Materia del contenido</mat-label>
        <mat-select formControlName="area_id">
          <mat-option *ngFor="let area of areas$ | async" [value]="area.id">
            {{area.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Titulo</mat-label>
        <input type="text" formControlName="title" matInput>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Subtitulo</mat-label>
        <input type="text" formControlName="subtitle" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-label>Descripcion</mat-label>
      <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
      <ngx-editor formControlName="description" [editor]="editor"></ngx-editor>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-label>Documentos</mat-label>
      <file-upload #fileUpload formControlName="documents">
      </file-upload>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <button mat-flat-button color="primary">Crear contenido</button>
    </div>
  </div>
</form>
