<div class="cycles__container">
  <div class="cycles__top-bar">
    <div class="top-bar__left-action">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Buscar ciclo</mat-label>
        <input matInput type="text" (keyup)="applyFilter($event)">
      </mat-form-field>
    </div>
    <div class="top-bar__right-action">
      <button mat-flat-button (click)="openCreateDialog()" color="primary">Nuevo ciclo</button>
    </div>
  </div>
  <div class="cycles__content">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por nombre"> <b>Nombre de ciclo</b></th>
        <td mat-cell *matCellDef="let element"> {{element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por descripcion"><b>Descripcion</b></th>
        <td mat-cell *matCellDef="let element"> {{element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button matTooltip="Editar ciclo" (click)="onEditCycle(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="element.structure" mat-icon-button matTooltip="Grupos del ciclo" (click)="showStructure(element)">
            <mat-icon>list</mat-icon>
          </button>
          <button *ngIf="!element.structure" mat-icon-button matTooltip="Generar estructura del ciclo" (click)="generateStructure(element.id)">
            <mat-icon>add_circle</mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
