<div class="create-form__container">
  <form class="create-form__form" [formGroup]="createForm" (ngSubmit)="create()">
  <div class="create-form__header">
    <span class="create-form__header-title">Crear un nuevo ciclo escolar</span>
  </div>
  <div class="create-form__content">
    <mat-form-field appearance="outline">
      <mat-label>Nombre del ciclo</mat-label>
      <input formControlName="name" type="text" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descripción del ciclo</mat-label>
      <input formControlName="description" type="text" matInput>
    </mat-form-field>
  </div>
  <div class="create-form__footer">
    <button mat-flat-button color="primary">Crear ciclo</button>
  </div>
  </form>
</div>
