<div class="row">
    <div class="col-md-12">
        <h2 class="subtitule">Contenido de Clase</h2>
        <p>Pueden visualizar el contenido que los docentes han publicado en sus respectivas materias</p>
        <p>Debes seleccionar una materia para poder visualizar la lista de contenidos subidos</p>
    </div>
</div>

<form [formGroup]="filterForm">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Selecciona una materia</mat-label>
                <mat-select formControlName="area" placeholder="Selecciona una materia">
                    <mat-form-field class="w-100" appearance="fill">
                        <input matInput placeholder="Buscador" (keyup)="filterByArea($event)">
                    </mat-form-field>
                    <mat-option *ngFor="let area of areaList" [value]="area.id">
                        {{area.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="p-4">
    <mat-stepper orientation="vertical" [linear]="false" #stepper>
        <mat-step *ngFor="let content of contentList">
            <div class="first-step">

                <ng-template matStepLabel>
                    <div class="row justify-content-between">
                        <div class="col-md-8">
                            {{content.title}}
                        </div>
                    </div>
                </ng-template>
                <div class="row subheader-step my-2">
                    <div class="col-md-12">
                        <h2 class="m-0">{{content.subtitle}}</h2>
                    </div>
                </div>
                <div class="row body-step">
                    <div class="row">
                        <div class="col-12" [innerHTML]="getDescriptionValue(content.description)"></div>
                    </div>

                    <mat-divider class="mb-3"></mat-divider>
                    <div class="row">
                        <div class="col-12 d-flex flex-column uploaded-document" *ngIf="content.documents && content.documents.length > 0">
                            <div class="d-flex align-items-center" *ngFor="let doc of content.documents" (click)="downloadFile(doc)">
                                <mat-icon>attach_file</mat-icon>
                                <span>{{doc?.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>
    </mat-stepper>
</div>