
.loading__container {
  position: absolute;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

::ng-deep {
    .btn {
        display: flex;
        justify-content: center;
        mat-icon {
            margin-right: 5px;
        }
    }
}

