<div  class="text-center">
    <h1 mat-dialog-title>Eliminar usuario</h1>
    <div mat-dialog-content>
        ¿Esta seguro que desea eliminar el usuario {{data.code}} ?
    </div>
    <div mat-dialog-actions class="d-flex justify-content-center">
        <button mat-button color="danger" (click)="deleteUser()">Eliminar</button>
        <button mat-button mat-dialog-close color="secondary">Cerrar</button>
    </div>
</div>
