<div class="cycle-structure__container">
  <div class="cycle-structure__header">
    <span class="cycle-structure__title">
      Grupos de {{data.name}}
    </span>
  </div>
  <div class="cycle-structure__content">
    <mat-list>
      <ng-container *ngFor="let item of structure | async">
        <mat-list-item>{{item.name}} - {{item.description}}</mat-list-item>
      </ng-container>

    </mat-list>
  </div>
  <div class="cycle-structure__footer"></div>
</div>
