.cycle-structure__container {
  max-width: 100vw;
  min-width: 30vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .cycle-structure__header {
    display: flex;
    padding: 1em;
    border-bottom: 1px lightgray solid;

    .cycle-structure__title {
      font-size: 18pt;
      font-weight: 700;
    }
  }

  .cycle-structure__content {
    max-height: 50%;
    height: 50%;
    overflow-y: scroll;

    ::ng-deep {
      .mat-mdc-list-item {

        &:not(:last-child) {
          border-bottom: 1px solid lightgray !important;
        }
      }
    }
  }

  .cycle-structure__footer {
    min-height: 5vh;
    border-top: 1px solid lightgray;
  }
}
