.status-pending {
    text-align: center;
    margin-right: 10px;
    background-color: rgb(235, 129, 129);
}
.status-done {
    text-align: center;
    margin-right: 10px;
    background-color: rgb(129, 235, 129);
}