<div class="row">
    <div class="col-md-12">
        <h2 class="subtitule">Mi lista de pagos</h2>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-5">
            <mat-form-field appearance="fill">
                <input matInput #buscador placeholder="Buscador" (keyup)="updateFilter($event)">
            </mat-form-field>
        </div>
        <!-- <div class="col-md-2 pt-2">
            <mat-form-field class="w-100" appearance="fill">
                <mat-select formControlName="student" placeholder="Estudiante" #singleSelect>
                <mat-form-field class="w-100" appearance="fill">
                    <input matInput placeholder="Buscador" (keyup)="filterStudents($event)">
                </mat-form-field>
                    <mat-option *ngFor="let cycle of cycles" [value]="cycle.id">
                    {{cycle.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
    </div>
    <div class="col-md-12">
        <ngx-datatable #table class="material align-center" [columnMode]="ColumnMode.force" [headerHeight]="30" [footerHeight]="50"
            [rowHeight]="30" [limit]="10" [rows]="userPayments">
            <ngx-datatable-column name="Estado">
                <ng-template ngx-datatable-cell-template let-value="row">
                    <div [ngClass]="{'status-done': value.status === 'PAGADO', 'status-pending': value.status === 'PENDIENTE'}">{{value.status}}</div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="F.Pagado" prop="date"></ngx-datatable-column>
            <ngx-datatable-column name="Pago" prop="paymentName"></ngx-datatable-column>
            <ngx-datatable-column name="Monto" prop="amount"></ngx-datatable-column>
            <ngx-datatable-column name="Cantidad" prop="quantity"></ngx-datatable-column>
            <ngx-datatable-column name="Descuento" prop="discount"></ngx-datatable-column>
            <ngx-datatable-column name="Total" prop="total"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

