<mat-list role="list" class="p-3">
    <mat-list-item *ngFor="let teacher of data?.teacher">
        <span>{{teacher.name}}</span>
        <button mat-icon-button (click)="unassign(teacher.user_id, data.id)">
            <mat-icon>person_remove</mat-icon>
        </button>
    </mat-list-item>
</mat-list>