
<div class="p-4">
    <form [formGroup]="reportForm" (ngSubmit)="executeReport()">
        <div class="text-center">
            <h2>REPORTE</h2>
        </div>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Ciclo</mat-label>
                        <mat-select formControlName="cycle" placeholder="Seleccion el ciclo">
                        <mat-form-field class="w-100" appearance="fill">
                            <input matInput placeholder="Buscador" (keyup)="filterCycles($event)" (blur)="resetFilter($event)">
                        </mat-form-field>
                          <mat-option *ngFor="let cycle of cycleList" [value]="cycle.id">
                            {{cycle.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-select formControlName="group" placeholder="Seleccion un grupo">
                        <mat-form-field class="w-100" appearance="fill">
                            <input matInput placeholder="Buscador" (keypress)="filterGroups($event)" (blur)="resetFilter($event)">
                        </mat-form-field>
                          <mat-option *ngFor="let group of groupsByCycle" [value]="group">
                            {{group.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Estudiante</mat-label>
                        <mat-select formControlName="student" placeholder="Seleccione un estudiante">
                        <mat-form-field class="w-100" appearance="fill">
                            <input matInput placeholder="Buscador" (keyup)="filterStudents($event)" (blur)="resetFilter($event)">
                        </mat-form-field>
                          <mat-option *ngFor="let student of students" [value]="student.id">
                            {{student.name}} /Usuario: {{student.code}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        
        <div mat-dialog-actions>
            <button mat-raised-button color="primary"  type="submit">
                <mat-icon>save</mat-icon>
                Generar Reporte
            </button>
            <button mat-raised-button type="button" (click)="closeModal()">
                Cerrar
            </button>
            
        </div>
    </form>

</div>