<div class="container-fluid py-3">
  <h2>Tipos de cuenta</h2>
  <div class="row">
    <div class="col-4">
      <form [formGroup]="accountTypeForm" (ngSubmit)="editing ? onEdit() : onCreate()">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Nombre del tipo de cuenta</mat-label>
          <input formControlName="name" matInput type="text">
        </mat-form-field>
        <button *ngIf="editing" mat-flat-button type="submit" class="w-100" color="primary">Actualizar tipo</button>
        <button *ngIf="!editing" type="submit" class="w-100" mat-flat-button color="primary">Crear tipo</button>
      </form>
    </div>
    <div class="col-8">
      <table mat-table [dataSource]="accountTypes$">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="triggerEdit(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDelete(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
