<div class="row">
    <div class="col-md-12">
        <h2 class="subtitule">Reportes</h2>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-5">
            <mat-form-field appearance="fill">
                <input matInput #buscador placeholder="Buscador" (keyup)="updateFilter($event)">
            </mat-form-field>
        </div>
    </div>
    <div class="col-md-12">
        <ngx-datatable #table class="material align-center" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
            rowHeight="auto" [limit]="10" [rows]="reports" [sorts]="[{ prop: 'name', dir: 'asc' }]">
            <ngx-datatable-column name="Código" prop="code"></ngx-datatable-column>
            <ngx-datatable-column name="Reporte" prop="name"></ngx-datatable-column>
            <ngx-datatable-column name="Acciones">
                <ng-template ngx-datatable-cell-template let-value="row">
                    <div class="row custom-css p-2">
                        <div style="width:auto">
                            <button mat-mini-fab color="warning" (click)="openForm(value)">
                                <mat-icon>edit_document</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
