.mat-form-field-infix {
    width: auto !important;
}

:host ::ng-deep {
    .ngx-datatable .datatable-body .datatable-body-row>div {
        align-items: center;
    }

    .cell-code{
        width: 20%!important;
    } 
    .cell-report {
        width: 50%!important;
    } 
    .cell-action {
        width: 10%!important;
    }
}