
<form [formGroup]="userForm" (ngSubmit)="updateUser()">
    <div *ngIf="data.type === 1">
        <h1 mat-dialog-title>Editar Estudiante {{data.code}}</h1>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                        <mat-label>Código del usuario</mat-label>
                        <input formControlName="user" matInput #userCode maxlength="20" placeholder="Código del usuario" required>
                        <mat-hint align="end">{{userCode?.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field hintLabel="Max 100 characters" appearance="fill">
                        <mat-label>Nombre del usuario</mat-label>
                        <input formControlName="name" matInput #userName maxlength="100" placeholder="Nombre del usuario" required>
                        <mat-hint align="end">{{userName?.value?.length || 0}}/100</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input formControlName="password" #usserPassword matInput maxlength="50" [type]="hide ? 'password' : 'text'" >
                        <button mat-raised-button color="primary" type="button" matSuffix (click)="restartPass()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            Reestablecer
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <!-- OPCIONALES -->
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Genero</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option value="">No especificar</mat-option>
                            <mat-option value="Masculino">Masculino</mat-option>
                            <mat-option value="Femenino">Fememnino</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker"  formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field hintLabel="Max 20 characters" appearance="fill">
                        <mat-label>Teléfono</mat-label>
                        <input formControlName="phone" matInput #userPhone maxlength="20" placeholder="Teléfono">
                        <mat-hint align="end">{{userPhone?.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-8">
                    <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                        <mat-label>Nombre de la madre</mat-label>
                        <input formControlName="mother" matInput #mother maxlength="50" placeholder="Nombre de la madre">
                        <mat-hint align="end">{{mother?.value?.length || 0}}/50</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                        <mat-label>Teléfono de la madre</mat-label>
                        <input formControlName="motherPhone" matInput #input maxlength="20" placeholder="Teléfono de la madre">
                        <mat-hint align="end">{{input?.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8">
                    <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                        <mat-label>Nombre del padre</mat-label>
                        <input formControlName="father" matInput #father maxlength="50" placeholder="Nombre del padre">
                        <mat-hint align="end">{{father?.value?.length || 0}}/50</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                        <mat-label>Teléfono del padre</mat-label>
                        <input formControlName="fatherPhone" matInput #fatherPhone maxlength="20" placeholder="Teléfono del padre">
                        <mat-hint align="end">{{fatherPhone?.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Ciclo</mat-label>
                        <mat-select formControlName="cycle" placeholder="Seleccion el ciclo" required>
                        <mat-form-field class="w-100" appearance="fill">
                            <input matInput placeholder="Buscador" (keyup)="filterCycles($event)">
                        </mat-form-field>
                          <mat-option *ngFor="let cycle of cycleList" [value]="cycle.id">
                            {{cycle.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-9">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-select formControlName="group" placeholder="Seleccion un grupo" required>
                        <mat-form-field class="w-100" appearance="fill">
                            <input matInput placeholder="Buscador" (keyup)="filterGroups($event)">
                        </mat-form-field>
                          <mat-option *ngFor="let group of groupsByCycle" [value]="group.id">
                            {{group.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="data.type === 2">
        <h1 mat-dialog-title>Editar Profesor {{data.user}}</h1>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                        <mat-label>Código del profesor</mat-label>
                        <input formControlName="user" matInput #userCode maxlength="20" placeholder="Código del usuario" required>
                        <mat-hint align="end">{{userCode?.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field hintLabel="Max 100 characters" appearance="fill">
                        <mat-label>Nombre del profesor</mat-label>
                        <input formControlName="name" matInput #userName maxlength="100" placeholder="Nombre del usuario" required>
                        <mat-hint align="end">{{userName?.value?.length || 0}}/100</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input formControlName="password" #usserPassword matInput maxlength="50" [type]="hide ? 'password' : 'text'" >
                        <button mat-raised-button color="primary" type="button" matSuffix (click)="restartPass(2)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            Reestablecer
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <!-- OPCIONALES -->
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Genero</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option value="">No especificar</mat-option>
                            <mat-option value="Masculino">Masculino</mat-option>
                            <mat-option value="Femenino">Fememnino</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker"  formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field hintLabel="Max 20 characters" appearance="fill">
                        <mat-label>Teléfono</mat-label>
                        <input formControlName="phone" matInput #userPhone maxlength="20" placeholder="Teléfono">
                        <mat-hint align="end">{{userPhone?.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field hintLabel="Max 20 characters" appearance="fill">
                        <mat-label>Cedula</mat-label>
                        <input formControlName="dni" matInput #dni maxlength="20" placeholder="Cedula del profesor">
                        <mat-hint align="end">{{dni?.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field hintLabel="Max 30 characters" appearance="fill">
                        <mat-label>Titulo</mat-label>
                        <input formControlName="phone" matInput #titulo maxlength="30" placeholder="Titulo/Estudio del profesor">
                        <mat-hint align="end">{{titulo?.value?.length || 0}}/30</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field hintLabel="Max 30 characters" appearance="fill">
                        <mat-label>Institución</mat-label>
                        <input formControlName="institution" matInput #titulo maxlength="30" placeholder="Institución donde estudio el profesor">
                        <mat-hint align="end">{{titulo?.value?.length || 0}}/30</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Salario base</mat-label>
                        <input formControlName="salary" matInput #salary placeholder="Salario base del profesor">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <mat-form-field hintLabel="Max 100 characters" appearance="fill">
                        <mat-label>Direccion</mat-label>
                        <textarea matInput formControlName="address" matInput #direccion maxlength="100" placeholder="Address"></textarea>
                        <mat-hint align="end">{{direccion?.value?.length || 0}}/100</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    
    <div *ngIf="data.type === 3 || data.type === 4">
        <h1 mat-dialog-title>Editar Trabajador {{data.user}}</h1>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field hintLabel="Max 50 characters" appearance="fill">
                        <mat-label>Código del Trabajador</mat-label>
                        <input formControlName="user" matInput #userCode maxlength="20" placeholder="Código del Trabajador" required>
                        <mat-hint align="end">{{userCode?.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field hintLabel="Max 100 characters" appearance="fill">
                        <mat-label>Nombre del Trabajador</mat-label>
                        <input formControlName="name" matInput #userName maxlength="100" placeholder="Nombre del Trabajador" required>
                        <mat-hint align="end">{{userName?.value?.length || 0}}/100</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input formControlName="password" #usserPassword matInput maxlength="50" [type]="hide ? 'password' : 'text'" >
                        <button mat-raised-button color="primary" type="button" matSuffix (click)="restartPass(2)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            Reestablecer
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <!-- OPCIONALES -->
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Genero</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option value="">No especificar</mat-option>
                            <mat-option value="Masculino">Masculino</mat-option>
                            <mat-option value="Femenino">Fememnino</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker"  formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field hintLabel="Max 20 characters" appearance="fill">
                        <mat-label>Teléfono</mat-label>
                        <input formControlName="phone" matInput #userPhone maxlength="20" placeholder="Teléfono">
                        <mat-hint align="end">{{userPhone?.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field hintLabel="Max 20 characters" appearance="fill">
                        <mat-label>Cedula</mat-label>
                        <input formControlName="dni" matInput #dni maxlength="20" placeholder="Cedula del profesor">
                        <mat-hint align="end">{{dni?.value?.length || 0}}/20</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field hintLabel="Max 30 characters" appearance="fill">
                        <mat-label>Position</mat-label>
                        <input formControlName="position" matInput #position maxlength="30" placeholder="Cargo que desempeña el trabajador">
                        <mat-hint align="end">{{position?.value?.length || 0}}/30</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Salario base</mat-label>
                        <input formControlName="salary" matInput #salary placeholder="Salario base del profesor">
                    </mat-form-field>
                </div>
                <div class="col-md-3 text-center">
                    <label for="administrativo" class="w-100">ADMINISTRATIVO</label>
                    <mat-slide-toggle color="primary" formControlName="administrative"></mat-slide-toggle>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <mat-form-field hintLabel="Max 100 characters" appearance="fill">
                        <mat-label>Direccion</mat-label>
                        <textarea matInput formControlName="address" matInput #direccion maxlength="100" placeholder="Address"></textarea>
                        <mat-hint align="end">{{direccion?.value?.length || 0}}/100</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="success" type="submit" [disabled]="!userForm.valid">Guardar</button>
        <button mat-button mat-dialog-close color="secondary">Cerrar</button>
    </div>
</form>