<div class="p-4">
    <div class="text-center">
        <h2 *ngIf="data?.record?.name">Gestionar Tarea {{data.record.name}}</h2>
        <h2 *ngIf="!data?.record?.name">Agregar nueva tarea</h2>
    </div>
    <form [formGroup]="assignmentForm" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-select formControlName="cycle">
                        <mat-option *ngFor="let cycle of cycleList" [value]="cycle.id">
                            {{cycle.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-9">
                <mat-form-field class="w-100" appearance="fill" *ngIf="!data?.record">
                    <mat-label>Asignar grupos</mat-label>
                    <mat-select formControlName="group" multiple>
                      <mat-select-trigger>
                        {{selectedGroups[0] ? selectedGroups[0].name : ''}}
                        <span *ngIf="(selectedGroups.length || 0) > 1" class="example-additional-selection">
                          (+{{(selectedGroups.length || 0) - 1}} {{selectedGroups.length === 2 ? 'otro' : 'otros'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let group of groupsByCycle" [value]="group">{{group.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill" *ngIf="data?.record">
                    <mat-select formControlName="group">
                        <mat-option *ngFor="let group of groupsByCycle" [value]="group.id">{{group.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Selecciona una materia</mat-label>
                    <mat-select formControlName="area">
                        <mat-option *ngFor="let area of areaList" [value]="area.id">
                            {{area.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Tarea</mat-label>
                    <input formControlName="name" type="text" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
            <mat-label>Plantea tu respuesta aquí</mat-label>
            <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
            <ngx-editor formControlName="description" [editor]="editor"></ngx-editor>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Puntos</mat-label>
                    <input formControlName="points" type="number" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>URL</mat-label>
                    <input formControlName="url" type="text" matInput>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Fecha de liberación</mat-label>
                    <input matInput [ngxMatDatetimePicker]="startDatePicker" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="$any(startDatePicker)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #startDatePicker></ngx-mat-datetime-picker>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Fecha de entrega</mat-label>
                    <input matInput [ngxMatDatetimePicker]="$any(limitTimePicker)" placeholder="Fecha de entrega" formControlName="limitTime">
                    <mat-datepicker-toggle matSuffix [for]="$any(limitTimePicker)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #limitTimePicker></ngx-mat-datetime-picker>
                 </mat-form-field>
            </div>
        </div>
        
        <div mat-dialog-actions>
            <button mat-raised-button color="primary"  type="submit">
                <mat-icon>save</mat-icon>
                Guardar
            </button>
            <button mat-raised-button type="button" (click)="closeModal()">
                Cerrar
            </button>
        </div>
    </form>
</div>