<div class="p-4">
    <form [formGroup]="paymentForm" (ngSubmit)="updateStudentPayment()">
        <div class="text-center">
            <h2>Modificar pago</h2>
        </div>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker"  formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-select formControlName="student" placeholder="Estudiante" #singleSelect>
                        <mat-form-field class="w-100" appearance="fill">
                            <input matInput placeholder="Buscador" (keyup)="filterStudents($event)">
                        </mat-form-field>
                          <mat-option *ngFor="let student of students" [value]="student.id">
                            {{student.user}} - {{student.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-5">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-select formControlName="payment" placeholder="Pago realizadó" #singleSelect>
                        <mat-form-field class="w-100" appearance="fill">
                            <input matInput placeholder="Buscador" (keyup)="filterPayments($event)">
                        </mat-form-field>
                          <mat-option *ngFor="let payment of paymentList" [value]="payment.id">
                            {{payment.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field class='w-100'appearance="fill">
                        <mat-label>Monto</mat-label>
                        <input formControlName="amount" matInput placeholder="Monto pagadó por el estudiante">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class='w-100' appearance="fill">
                        <mat-label>Cantidad</mat-label>
                        <input formControlName="quantity" matInput placeholder="Cantidad">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class='w-100' appearance="fill">
                        <mat-label>Descuento</mat-label>
                        <input formControlName="discount" matInput placeholder="Descuento a aplicar">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class='w-100' appearance="fill">
                        <mat-label>Total</mat-label>
                        <input formControlName="total" matInput placeholder="Total pagadó">
                    </mat-form-field>
                </div>
            </div>
        </div>
        
        <div mat-dialog-actions>
            <button mat-raised-button color="primary"  type="submit">
                <mat-icon>save</mat-icon>
                Guardar
            </button>
            <button mat-raised-button type="button" (click)="closeModal()">
                Cerrar
            </button>
        </div>
    </form>

</div>