
@import "bootstrap/scss/bootstrap.scss";
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif; }

* {
  font-family: Montserrat, sans-serif;
}

// Alinear elementos de manera vertical
.vertical-center {
    display: flex!important;
    align-items: center;
}
.uploaded-document {
  cursor: pointer;
  border-radius: 25px;
  &:hover {
    background: #cccccc;
  }
}