
<div class="p-4">
    <form [formGroup]="reportForm" (ngSubmit)="executeReport()">
        <div class="text-center">
            <h2>REPORTE</h2>
        </div>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Desde</mat-label>
                        <input matInput [matDatepicker]="startDate"  formControlName="start">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label>Hasta</mat-label>
                        <input matInput [matDatepicker]="endDate"  formControlName="end">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        
        <div mat-dialog-actions>
            <button mat-raised-button color="primary"  type="submit">
                <mat-icon>save</mat-icon>
                Generar Reporte
            </button>
            <button mat-raised-button type="button" (click)="closeModal()">
                Cerrar
            </button>
            
        </div>
    </form>

</div>