<div class="row">
    <div class="col-md-12">
        <h2 class="subtitule">Pagos de Estudiantes</h2>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-md-5">
            <mat-form-field appearance="fill">
                <input matInput #buscador placeholder="Buscador" (keyup)="updateFilter($event)">
            </mat-form-field>
        </div>
        <div class="col-md-2 pt-2">
            <button mat-raised-button color="primary"  (click)="studentPaymentModal();">
                <mat-icon>add</mat-icon>
                Agregar pagos
            </button>
        </div>
        <div class="col-md-2 pt-2">
            <button mat-raised-button color="primary" (click)="paymentSettings();">
                <mat-icon>settings</mat-icon>
                Configurar cobros
            </button>
        </div>
    </div>
    <div class="col-md-12">
        <ngx-datatable #table class="material align-center" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
            rowHeight="auto" [limit]="10" [rows]="userPayments" [sorts]="[{ prop: 'date', dir: 'desc' }]">
            <ngx-datatable-column name="F.Pago" prop="date"></ngx-datatable-column>
            <ngx-datatable-column name="Pago" prop="paymentName"></ngx-datatable-column>
            <ngx-datatable-column name="Código" prop="user"></ngx-datatable-column>
            <ngx-datatable-column name="Estudiante" prop="userName"></ngx-datatable-column>
            <ngx-datatable-column name="Monto" prop="amount"></ngx-datatable-column>
            <ngx-datatable-column name="Cantidad" prop="quantity"></ngx-datatable-column>
            <ngx-datatable-column name="Descuento" prop="discount"></ngx-datatable-column>
            <ngx-datatable-column name="Total" prop="total"></ngx-datatable-column>
            <ngx-datatable-column name="Acciones" prop="id">

                <ng-template ngx-datatable-cell-template let-value="row">
                    <div class="row custom-css p-2">
                        <div style="width:auto">
                            <button mat-mini-fab color="warning" (click)="editStudentPayment(value)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <div style="width:auto">
                            <button mat-mini-fab color="danger" class="ml-4" (click)="deleteStudentPayment(value)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>

            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
