<div class="create-form__container">
  <form class="create-form__form" [formGroup]="createForm" (ngSubmit)="createGroup()">
    <div class="create-form__header">
      <span class="create-form__header-title">Crear un nuevo grupo</span>
    </div>
    <div class="create-form__content">
      <mat-form-field appearance="outline">
        <mat-label>Nombre del grupo</mat-label>
        <input type="text" formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descripcion del grupo</mat-label>
        <input type="text" formControlName="description" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ciclo asignado</mat-label>
        <mat-select formControlName="cycle_id">
          <mat-option *ngFor="let cycle of cycles" [value]="cycle.id">
            {{ cycle.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="create-form__footer">
      <button mat-flat-button type="submit" color="primary">Crear grupo</button>
    </div>
  </form>

</div>
