<div class="p-4">
    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
        <div class="text-center">
            <h2>Cambiar contraseña</h2>
        </div>
        <div mat-dialog-content>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Contraseña Actual</mat-label>
                        <input formControlName="currentPassword" #usserPassword matInput maxlength="50" [type]="hide1 ? 'password' : 'text'" required autocomplete="new-password">
                        <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Nueva Contraseña</mat-label>
                        <input formControlName="newPassword" #usserPassword2 matInput maxlength="50" [type]="hide2 ? 'password' : 'text'" required autocomplete="new-password">
                        <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
        </div>
        
        <div mat-dialog-actions>
            <button mat-raised-button color="primary"  type="submit">
                <mat-icon>save</mat-icon>
                Guardar
            </button>
            <button mat-raised-button type="button" (click)="closeModal()" class="ms-2">
                Cerrar
            </button>
        </div>
    </form>

</div>