<div  class="delete-modal text-center">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <div mat-dialog-content>
        ¿Esta seguro que desea eliminar este registro?
    </div>
    <div mat-dialog-actions class="d-flex justify-content-center">
        <button mat-raised-button color="primary" (click)="delete()">Eliminar</button>
        <button mat-button mat-dialog-close color="secondary">Cerrar</button>
    </div>
</div>