
mat-form-field:not(.not-w) {
    width: 100%;
}
.mat-form-field-infix{
    width: auto!important;
}

mat-dialog-content {
    width: 100%;
}
  
::ng-deep .style-success {
    background: #00a208;
    color: #fff;
}

::ng-deep .style-warning {
    background: #e2ac4a;
    color: #fff;
}

::ng-deep .style-error {
    background: #ff8b8b;
    color: #000;
}

::ng-deep .mat-simple-snackbar-action{
    color: #fff;
}