<div class="container p-2">
  <h2>Documentos</h2>
  <div class="row" *ngFor="let doc of data">
    <div class="col-12 d-flex align-items-center p-3 uploaded-document">
      <mat-icon>attach_file</mat-icon>
      <a class="doc-link" (click)="downloadFile(doc?.document.url)">{{doc?.document?.name}}</a>
      <button mat-icon-button (click)="deleteDoc(doc?.document.id)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
    </div>
  </div>
</div>
